In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import keras

In [39]:
df = pd.read_csv('../Datasets/Country_city.csv')
df

            country         city
0               USA     New York
1               USA  Los Angeles
2               USA      Chicago
3            Canada      Toronto
4            Canada    Vancouver
..              ...          ...
113          Greece       Patras
114  Czech Republic      Ostrava
115         Hungary       Szeged
116         Austria    Innsbruck
117    Saudi Arabia       Dammam

[118 rows x 2 columns]

In [40]:
# Assuming df is your original DataFrame with columns "country" and "city"
sequences = df.groupby('country')['city'].apply(list).reset_index(name='city_sequence')
sequences

           country                                      city_sequence
0        Argentina                   [Buenos Aires, Cordoba, Mendoza]
1        Australia               [Sydney, Melbourne, Brisbane, Perth]
2          Austria                      [Vienna, Salzburg, Innsbruck]
3          Belgium                         [Brussels, Antwerp, Ghent]
4           Brazil   [Rio de Janeiro, Sao Paulo, Brasilia, Fortaleza]
5           Canada            [Toronto, Vancouver, Montreal, Calgary]
6            China          [Beijing, Shanghai, Guangzhou, Hong Kong]
7   Czech Republic                            [Prague, Brno, Ostrava]
8          Denmark                       [Copenhagen, Aarhus, Odense]
9            Egypt                         [Cairo, Alexandria, Luxor]
10         Finland                                [Helsinki, Tampere]
11          France                 [Paris, Marseille, Bordeaux, Lyon]
12         Germany               [Berlin, Munich, Hamburg, Stuttgart]
13          Greece                     [Athens, Thessaloniki, Patras]
14         Hungary                       [Budapest, Debrecen, Szeged]
15           India                [Mumbai, Delhi, Bangalore, Chennai]
16         Ireland                           [Dublin, Cork, Limerick]
17           Italy                    [Rome, Milan, Venice, Florence]
18           Japan                     [Tokyo, Osaka, Kyoto, Sapporo]
19           Kenya                         [Nairobi, Mombasa, Kisumu]
20          Mexico                 [Mexico City, Guadalajara, Puebla]
21     Netherlands                                        [Amsterdam]
22         Nigeria                               [Lagos, Abuja, Kano]
23          Norway                          [Oslo, Bergen, Trondheim]
24          Poland                           [Warsaw, Krakow, Poznan]
25        Portugal                              [Lisbon, Porto, Faro]
26          Russia  [Moscow, Saint Petersburg, Kazan, Nizhny Novgo...
27    Saudi Arabia                           [Riyadh, Jeddah, Dammam]
28    South Africa                  [Johannesburg, Cape Town, Durban]
29     South Korea                            [Seoul, Busan, Incheon]
30           Spain                       [Madrid, Barcelona, Seville]
31          Sweden                     [Stockholm, Gothenburg, Malmo]
32     Switzerland                                   [Zurich, Geneva]
33          Turkey                          [Istanbul, Ankara, Izmir]
34              UK        [London, Manchester, Birmingham, Edinburgh]
35             USA  [New York, Los Angeles, Chicago, San Francisco...

In [41]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

# Assuming df is your original DataFrame with columns "country" and "city"
sequences = df.groupby('country')['city'].apply(list).reset_index(name='city_sequence')

tokenizer = Tokenizer()
tokenizer.fit_on_texts(sequences['city_sequence'])
total_words = len(tokenizer.word_index) + 1

input_sequences = []
for sequence in sequences['city_sequence']:
    # Tokenize the city names
    city_tokens = tokenizer.texts_to_sequences([sequence])[0]
    
    for i in range(1, len(city_tokens)):
        n_gram_sequence = city_tokens[:i + 1]
        input_sequences.append(n_gram_sequence)

max_sequence_length = max(len(seq) for seq in input_sequences)
padded_input_sequences = pad_sequences(input_sequences, maxlen=max_sequence_length, padding='pre')

X, y = padded_input_sequences[:, :-1], padded_input_sequences[:, -1]
y = keras.utils.to_categorical(y, num_classes=total_words)

In [42]:
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense

model = Sequential()
model.add(Embedding(total_words, 50, input_length=max_sequence_length - 1))
model.add(LSTM(100))
model.add(Dense(total_words, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X, y, epochs=50, verbose=2)

Epoch 1/50
3/3 - 1s - loss: 4.7814 - accuracy: 0.0000e+00 - 970ms/epoch - 323ms/step
Epoch 2/50
3/3 - 0s - loss: 4.7750 - accuracy: 0.0000e+00 - 82ms/epoch - 27ms/step
Epoch 3/50
3/3 - 0s - loss: 4.7700 - accuracy: 0.0244 - 76ms/epoch - 25ms/step
Epoch 4/50
3/3 - 0s - loss: 4.7649 - accuracy: 0.0366 - 54ms/epoch - 18ms/step
Epoch 5/50
3/3 - 0s - loss: 4.7594 - accuracy: 0.0610 - 63ms/epoch - 21ms/step
Epoch 6/50
3/3 - 0s - loss: 4.7529 - accuracy: 0.0854 - 66ms/epoch - 22ms/step
Epoch 7/50
3/3 - 0s - loss: 4.7454 - accuracy: 0.0732 - 51ms/epoch - 17ms/step
Epoch 8/50
3/3 - 0s - loss: 4.7362 - accuracy: 0.0610 - 44ms/epoch - 15ms/step
Epoch 9/50
3/3 - 0s - loss: 4.7243 - accuracy: 0.0366 - 53ms/epoch - 18ms/step
Epoch 10/50
3/3 - 0s - loss: 4.7082 - accuracy: 0.0366 - 53ms/epoch - 18ms/step
Epoch 11/50
3/3 - 0s - loss: 4.6855 - accuracy: 0.0366 - 40ms/epoch - 13ms/step
Epoch 12/50
3/3 - 0s - loss: 4.6523 - accuracy: 0.0366 - 41ms/epoch - 14ms/step
Epoch 13/50
3/3 - 0s - loss: 4.6068 - accuracy: 0.0244 - 41ms/epoch - 14ms/step
Epoch 14/50
3/3 - 0s - loss: 4.5498 - accuracy: 0.0122 - 53ms/epoch - 18ms/step
Epoch 15/50
3/3 - 0s - loss: 4.4863 - accuracy: 0.0122 - 50ms/epoch - 17ms/step
Epoch 16/50
3/3 - 0s - loss: 4.4481 - accuracy: 0.0122 - 40ms/epoch - 13ms/step
Epoch 17/50
3/3 - 0s - loss: 4.4334 - accuracy: 0.0122 - 41ms/epoch - 14ms/step
Epoch 18/50
3/3 - 0s - loss: 4.4105 - accuracy: 0.0122 - 50ms/epoch - 17ms/step
Epoch 19/50
3/3 - 0s - loss: 4.3834 - accuracy: 0.0122 - 40ms/epoch - 13ms/step
Epoch 20/50
3/3 - 0s - loss: 4.3629 - accuracy: 0.0488 - 50ms/epoch - 17ms/step
Epoch 21/50
3/3 - 0s - loss: 4.3433 - accuracy: 0.0732 - 40ms/epoch - 13ms/step
Epoch 22/50
3/3 - 0s - loss: 4.3213 - accuracy: 0.0732 - 40ms/epoch - 13ms/step
Epoch 23/50
3/3 - 0s - loss: 4.3021 - accuracy: 0.0732 - 49ms/epoch - 16ms/step
Epoch 24/50
3/3 - 0s - loss: 4.2868 - accuracy: 0.0610 - 51ms/epoch - 17ms/step
Epoch 25/50
3/3 - 0s - loss: 4.2657 - accuracy: 0.0976 - 43ms/epoch - 14ms/step
Epoch 26/50
3/3 - 0s - loss: 4.2411 - accuracy: 0.1463 - 39ms/epoch - 13ms/step
Epoch 27/50
3/3 - 0s - loss: 4.2169 - accuracy: 0.1707 - 42ms/epoch - 14ms/step
Epoch 28/50
3/3 - 0s - loss: 4.1926 - accuracy: 0.1951 - 40ms/epoch - 13ms/step
Epoch 29/50
3/3 - 0s - loss: 4.1637 - accuracy: 0.1707 - 50ms/epoch - 17ms/step
Epoch 30/50
3/3 - 0s - loss: 4.1263 - accuracy: 0.2439 - 42ms/epoch - 14ms/step
Epoch 31/50
3/3 - 0s - loss: 4.0920 - accuracy: 0.2561 - 40ms/epoch - 13ms/step
Epoch 32/50
3/3 - 0s - loss: 4.0498 - accuracy: 0.3049 - 52ms/epoch - 17ms/step
Epoch 33/50
3/3 - 0s - loss: 3.9992 - accuracy: 0.3902 - 40ms/epoch - 13ms/step
Epoch 34/50
3/3 - 0s - loss: 3.9546 - accuracy: 0.3780 - 40ms/epoch - 13ms/step
Epoch 35/50
3/3 - 0s - loss: 3.8949 - accuracy: 0.5000 - 40ms/epoch - 13ms/step
Epoch 36/50
3/3 - 0s - loss: 3.8303 - accuracy: 0.4756 - 42ms/epoch - 14ms/step
Epoch 37/50
3/3 - 0s - loss: 3.7671 - accuracy: 0.4634 - 40ms/epoch - 13ms/step
Epoch 38/50
3/3 - 0s - loss: 3.6944 - accuracy: 0.5000 - 50ms/epoch - 17ms/step
Epoch 39/50
3/3 - 0s - loss: 3.6256 - accuracy: 0.5000 - 40ms/epoch - 13ms/step
Epoch 40/50
3/3 - 0s - loss: 3.5496 - accuracy: 0.5244 - 40ms/epoch - 13ms/step
Epoch 41/50
3/3 - 0s - loss: 3.4841 - accuracy: 0.5488 - 39ms/epoch - 13ms/step
Epoch 42/50
3/3 - 0s - loss: 3.4160 - accuracy: 0.5366 - 42ms/epoch - 14ms/step
Epoch 43/50
3/3 - 0s - loss: 3.3483 - accuracy: 0.4756 - 40ms/epoch - 13ms/step
Epoch 44/50
3/3 - 0s - loss: 3.2864 - accuracy: 0.4756 - 41ms/epoch - 14ms/step
Epoch 45/50
3/3 - 0s - loss: 3.2088 - accuracy: 0.5366 - 41ms/epoch - 14ms/step
Epoch 46/50
3/3 - 0s - loss: 3.1446 - accuracy: 0.6585 - 40ms/epoch - 13ms/step
Epoch 47/50
3/3 - 0s - loss: 3.0816 - accuracy: 0.6951 - 40ms/epoch - 13ms/step
Epoch 48/50
3/3 - 0s - loss: 3.0169 - accuracy: 0.6829 - 40ms/epoch - 13ms/step
Epoch 49/50
3/3 - 0s - loss: 2.9641 - accuracy: 0.6463 - 41ms/epoch - 14ms/step
Epoch 50/50
3/3 - 0s - loss: 2.9086 - accuracy: 0.6951 - 40ms/epoch - 13ms/step

In [43]:
def generate_city_sequence(model, tokenizer, seed_text, max_sequence_length, num_words_to_generate):
    result = seed_text
    for _ in range(num_words_to_generate):
        encoded = tokenizer.texts_to_sequences([result])[0]
        encoded = pad_sequences([encoded], maxlen=max_sequence_length - 1, padding='pre')
        predicted_word_index = np.argmax(model.predict(encoded), axis=-1)
        predicted_word = tokenizer.index_word[predicted_word_index[0]]
        result += ' ' + predicted_word
    return result

# Example usage
seed_country = 'Country_X'
generated_sequence = generate_city_sequence(model, tokenizer, seed_country, max_sequence_length, num_words_to_generate=5)

1/1 [==============================] - 0s 157ms/step
1/1 [==============================] - 0s 11ms/step
1/1 [==============================] - 0s 12ms/step
1/1 [==============================] - 0s 11ms/step
1/1 [==============================] - 0s 11ms/step

In [44]:
generated_sequence

'Country_X tampere tampere birmingham edinburgh edinburgh'

In [45]:
augmented_df = pd.DataFrame(columns=['country', 'city'])

for country in sequences['country']:
    generated_sequence = generate_city_sequence(model, tokenizer, country, max_sequence_length, num_words_to_generate=5)
    generated_cities = generated_sequence.split()[1:]  # Exclude the initial seed
    augmented_df = pd.concat([augmented_df, pd.DataFrame({'country': [country] * len(generated_cities), 'city': generated_cities})])

# Print the augmented DataFrame
print(augmented_df)

1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 12ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 11ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 12ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 12ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 11ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 10ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step
      country        city
0   Argentina     tampere
1   Argentina     tampere
2   Argentina  birmingham
3   Argentina   edinburgh
4   Argentina   edinburgh
..        ...         ...
0         USA     tampere
1         USA     tampere
2         USA  birmingham
3         USA   edinburgh
4         USA   edinburgh

[184 rows x 2 columns]

In [46]:
augmented_df

      country        city
0   Argentina     tampere
1   Argentina     tampere
2   Argentina  birmingham
3   Argentina   edinburgh
4   Argentina   edinburgh
..        ...         ...
0         USA     tampere
1         USA     tampere
2         USA  birmingham
3         USA   edinburgh
4         USA   edinburgh

[184 rows x 2 columns]