In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('deflategate.csv')
df

        Team  Blakeman  Prioleau
0   Patriots     11.50     11.80
1   Patriots     10.85     11.20
2   Patriots     11.15     11.50
3   Patriots     10.70     11.00
4   Patriots     11.10     11.45
5   Patriots     11.60     11.95
6   Patriots     11.85     12.30
7   Patriots     11.10     11.55
8   Patriots     10.95     11.35
9   Patriots     10.50     10.90
10  Patriots     10.90     11.35
11     Colts     12.70     12.35
12     Colts     12.75     12.30
13     Colts     12.50     12.95
14     Colts     12.55     12.15

In [5]:
df['pressure'] = (df['Blakeman']+df['Prioleau'])/2
df.drop(columns=['Blakeman','Prioleau'],inplace=True)
df

        Team  pressure
0   Patriots    11.650
1   Patriots    11.025
2   Patriots    11.325
3   Patriots    10.850
4   Patriots    11.275
5   Patriots    11.775
6   Patriots    12.075
7   Patriots    11.325
8   Patriots    11.150
9   Patriots    10.700
10  Patriots    11.125
11     Colts    12.525
12     Colts    12.525
13     Colts    12.725
14     Colts    12.350

In [9]:
patriots_df = df[df['Team'] == 'Patriots']
patriots_df

        Team  pressure
0   Patriots    11.650
1   Patriots    11.025
2   Patriots    11.325
3   Patriots    10.850
4   Patriots    11.275
5   Patriots    11.775
6   Patriots    12.075
7   Patriots    11.325
8   Patriots    11.150
9   Patriots    10.700
10  Patriots    11.125

In [10]:
colts_df = df[df['Team'] == 'Colts']
colts_df

     Team  pressure
11  Colts    12.525
12  Colts    12.525
13  Colts    12.725
14  Colts    12.350

In [13]:
patriots_df['diff'] = 12.5-patriots_df['pressure']
patriots_df.drop(columns=['pressure'])

/var/folders/21/yhy2dhmx219b7cbcq243hmwc0000gn/T/ipykernel_31701/1405249625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patriots_df['diff'] = 12.5-patriots_df['pressure']

        Team   diff
0   Patriots  0.850
1   Patriots  1.475
2   Patriots  1.175
3   Patriots  1.650
4   Patriots  1.225
5   Patriots  0.725
6   Patriots  0.425
7   Patriots  1.175
8   Patriots  1.350
9   Patriots  1.800
10  Patriots  1.375

In [15]:
colts_df['diff'] = 13-colts_df['pressure']
colts_df.drop(columns=['pressure'])

/var/folders/21/yhy2dhmx219b7cbcq243hmwc0000gn/T/ipykernel_31701/4026769585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colts_df['diff'] = 13-colts_df['pressure']

     Team   diff
11  Colts  0.475
12  Colts  0.475
13  Colts  0.275
14  Colts  0.650

In [17]:
mean_patriots = patriots_df['diff'].mean()
mean_colts = colts_df['diff'].mean()
print(mean_patriots)
print(mean_colts)

1.202272727272728
0.46875

This observed difference has the difference between the mean of the drop of the ball patriots and the mean of the drop of the ball of the  colts.It is also considered to be the test statistic

In [19]:
observed_diff = mean_patriots - mean_colts # test statistic
observed_diff

0.733522727272728

Here we need to perform the random permutation test

In [ ]:
diff_arr = []

In [23]:
shuffled = df.sample(15)
shuffled_pressure = shuffled['pressure']
shuffled_pressure

13    12.725
8     11.150
1     11.025
4     11.275
5     11.775
6     12.075
14    12.350
0     11.650
9     10.700
10    11.125
3     10.850
2     11.325
7     11.325
11    12.525
12    12.525
Name: pressure, dtype: float64

In [27]:
original_and_shuffled = df.assign(shuff_pressure = shuffled_pressure.values)
original_and_shuffled_patriots = original_and_shuffled[original_and_shuffled['Team']=='Patriots']
original_and_shuffled_patriots

        Team  pressure  shuff_pressure
0   Patriots    11.650          12.725
1   Patriots    11.025          11.150
2   Patriots    11.325          11.025
3   Patriots    10.850          11.275
4   Patriots    11.275          11.775
5   Patriots    11.775          12.075
6   Patriots    12.075          12.350
7   Patriots    11.325          11.650
8   Patriots    11.150          10.700
9   Patriots    10.700          11.125
10  Patriots    11.125          10.850

In [ ]:
for i in range(10000):
    shuffled = df.sample(15)
    shuffled_pressure = shuffled['pressure']
    original_and_shuffled = df.assign(shuff_pressure = shuffled_pressure.values)
    original_and_shuffled_patriots = original_and_shuffled[original_and_shuffled['Team']=='Patriots']
    original_and_shuffled_colts = original_and_shuffled[original_and_shuffled['Team']=='Colts']