In [136]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
data = {'A':[1,2,3], 'B':[4,5,6]}
df = pd.DataFrame(data)
print(df)
X = df.iloc[:,:].values
print(X)

## Bar Plot

In [ ]:
x = ["python","c","c++","java"]
y = [85,70,60,82]

col= ["blue","black","gold","orange"]
plt.bar(x,y,width=0.2,color = col,align="center",edgecolor = "red",linewidth = 2,linestyle = "dotted",alpha = 0.7,label = "titan") # alpha parameter is for color of the fillings inside

plt.xlabel("language",fontsize=10)
plt.ylabel("number",fontsize=12)
plt.title("Language Usage Comparison")
plt.legend(loc= "best")
plt.show()

In [ ]:
x = ["python","c","c++","java"]
y = [85,70,60,82]
z= [20,30,40,50]
p = np.arange(len(x))  
width = 0.2
p1 = [j+width for j in p]

plt.bar(p,y,width,color = "red",label = "titan") # alpha parameter is for color of the fillings inside
plt.bar(p1,z,width,color = "aqua",label = "titan1")

plt.xlabel("language",fontsize=10)
plt.ylabel("number",fontsize=12)
plt.title("Language Usage Comparison")

plt.xticks(p+width/2,x,rotation = 20)
plt.legend()
plt.show()
print(p)
print(p1)

In [ ]:
x = ["python","c","c++","java"]
y = [85,70,60,82]
z= [20,30,40,50]
p = np.arange(len(x))  
width = 0.2
p1 = [j+width for j in p]

plt.barh(x,y,width,color = "red",label = "titan") # alpha parameter is for color of the fillings inside
plt.barh(x,z,width,color = "aqua",label = "titan1")

plt.xlabel("language",fontsize=10)
plt.ylabel("number",fontsize=12)
plt.title("Language Usage Comparison")


plt.legend()
plt.show()

## Scatter Plot

In [ ]:
day = [1,2,3,4,5,6,7]
num = [2,3,1,4,5,3,6]
col = ['blue', 'red', 'green','magenta','cyan','purple','black']
plt.scatter(day,num,c = col,s = 30)
plt.xlabel("Day")
plt.ylabel("Number")
plt.show()

In [ ]:
day = [1,2,3,4,5,6,7]
num = [2,3,1,4,5,3,6]
col = ['blue', 'red', 'green','magenta','cyan','purple','black']
# plt.scatter(day,num,s = 50,c=col,alpha=0.6,marker="*",edgecolors="black",linewidth=2,cmap="viridis")
plt.scatter(day,num,s = 50,c=col,alpha=0.6,marker="*",edgecolors="black",linewidth=2)
plt.plot(day,num)
t=plt.colorbar()
t.set_label("Color Bar")
plt.xlabel("Day")
plt.ylabel("Number")
plt.show()

## Histogram Plot

In [ ]:
x = np.random.randint(10,60,(50))
print(x)

In [ ]:
y=[]
for i in x:
    y.append(i)

y=np.array(y)
print(y)

In [ ]:
plt.hist(y,edgecolor="black",bins =[10,20,30,40,50,60],align='mid',histtype='bar',orientation='vertical',rwidth=1,log=True,label="python")
# plt.hist(y,edgecolor="black",bins =5,align='mid',histtype='bar',orientation='vertical',rwidth=1,log=True,label="python")
plt.axvline(45,color="green",label = "Axis")

plt.title("Histogram")
plt.xlabel("python")
plt.ylabel("Number")
plt.legend()
plt.show()

In [ ]:
plt.hist(y,edgecolor="black",range=(0,100))

plt.title("Histogram")
plt.xlabel("python")
plt.ylabel("Number")
plt.show()

In [ ]:
plt.hist(y,edgecolor="black",range=(0,100),cumulative=-1)

plt.title("Histogram")
plt.xlabel("python")
plt.ylabel("Number")
plt.show()

In [137]:
df = pd.read_csv('housing.csv')
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [138]:
x = df['total_bedrooms'].mean()
print(x)

537.8705525375618

In [144]:
y = df.to_numpy()
print(type(y))

<class 'numpy.ndarray'>

In [145]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [147]:
y.nan

AttributeError: 'numpy.ndarray' object has no attribute 'nan'

In [ ]:
df['total_bedrooms'].fillna(x,inplace=True)

In [ ]:
print(df.isnull().sum())

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df = df.rename({'longitude':'long', 'latitude':'lat'},axis = 1)
df

In [ ]:
df.head(15)

In [ ]:
df = df.sort_index()

In [ ]:
df

In [ ]:
df2 = df.sort_values(by='lat')
df2

In [ ]:
df['ocean_proximity'].value_counts()

In [ ]:
df.duplicated().sum()

In [ ]:
tf= df[df['population']==df['population'].max()]
tf
# print(tf['housing_median_age'])

In [ ]:
df.iloc[4500]

In [ ]:
data_types = df.dtypes
print(data_types)

In [ ]:
df.shape

In [ ]:
df.corr()

In [ ]:
df.plot()
plt.show()

In [ ]:
df.plot(kind="scatter",x = 'lat',y ='population')

In [ ]:
df

In [ ]:
df['housing_median_age'].plot(kind="hist",bins=10,cumulative = True)
plt.show()

In [ ]:
df

In [ ]:
# df.drop(columns='ocean_proximity')