In [1]:
import pandas as pd
import numpy as np

In [4]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
           'Capital': ['Brussels', 'New Delhi', 'Brasília'],
           'Population': [11190846, 1303171035, 207847528]}
df1 = pd.DataFrame(data, columns = ('Country', 'Capital', 'Population'))
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [8]:
df2 =pd.read_csv('aa.us.csv')

<bound method NDFrame.head of              Date     Open     High      Low    Close   Volume  OpenInt
0      1970-01-02   2.2972   2.3178   2.2972   2.2972    26437        0
1      1970-01-05   2.2972   2.2972   2.2544   2.2759    29887        0
2      1970-01-06   2.2759   2.2759   2.2342   2.2342   106900        0
3      1970-01-07   2.2342   2.2342   2.2342   2.2342    85061        0
4      1970-01-08   2.2342   2.2342   2.2139   2.2139    66669        0
...           ...      ...      ...      ...      ...      ...      ...
12069  2017-11-06  47.2000  47.6800  46.5300  47.2900  1725638        0
12070  2017-11-07  47.1100  47.2042  46.5400  46.9700  2168351        0
12071  2017-11-08  46.7300  46.7700  45.3700  45.8900  3347930        0
12072  2017-11-09  44.7100  44.7100  43.1100  43.3300  7671810        0
12073  2017-11-10  42.9300  44.4600  42.7500  43.0100  4463839        0

[12074 rows x 7 columns]>