import pandas as pd

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/surya/Downloads/Flight-data.csv')

In [3]:
df

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
0,823,DH,821,JFK,228,01/05/2004,7731,IAD,0,2,4,N730MQ,ontime
1,875,US,990,EWR,199,1/27/2004,2417,DCA,0,5,4,N16632,ontime
2,1456,DH,1720,LGA,227,01/09/2004,7424,IAD,0,3,9,N11641,ontime
3,2018,DL,1757,JFK,213,1/23/2004,7585,IAD,0,5,7,N242DL,ontime
4,935,UA,885,LGA,214,01/06/2004,2394,DCA,0,5,8,N964DL,ontime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,718,RU,1626,LGA,214,1/28/2004,2126,DCA,0,3,18,N426FJ,ontime
4996,1259,DL,928,LGA,214,1/15/2004,7777,IAD,0,5,20,N674BR,ontime
4997,1545,US,1794,LGA,214,1/13/2004,2052,DCA,0,3,8,N973CA,ontime
4998,1500,DL,1085,LGA,213,1/16/2004,2571,DCA,0,5,18,N13913,ontime
4999,860,US,1580,JFK,213,1/30/2004,2036,DCA,0,5,23,N13970,ontime

In [4]:
gf = pd.read_csv('FlightDelays.csv')
gf

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
0,1455,OH,1455,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime
1,1640,DH,1640,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime
2,1245,DH,1245,LGA,229,01/01/2004,7208,IAD,0,4,1,N695BR,ontime
3,1715,DH,1709,LGA,229,01/01/2004,7215,IAD,0,4,1,N662BR,ontime
4,1039,DH,1035,LGA,229,01/01/2004,7792,IAD,0,4,1,N698BR,ontime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,645,RU,644,EWR,199,1/31/2004,2761,DCA,0,6,31,N15555,ontime
2197,1700,RU,1653,EWR,213,1/31/2004,2497,IAD,0,6,31,N16976,ontime
2198,1600,RU,1558,EWR,199,1/31/2004,2361,DCA,0,6,31,N14902,ontime
2199,1359,RU,1403,EWR,199,1/31/2004,2216,DCA,0,6,31,N16961,ontime
2200,1730,RU,1736,EWR,199,1/31/2004,2097,DCA,0,6,31,N13994,ontime