In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Preprocessing

In [28]:
df = pd.read_csv('train.csv')
df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [29]:
df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [30]:
df[['Year', 'Month', 'Day']] = df['date'].str.split('-', expand=True)
df = df.drop(columns='date')

In [31]:
df

        store  item  sales  Year Month Day
0           1     1     13  2013    01  01
1           1     1     11  2013    01  02
2           1     1     14  2013    01  03
3           1     1     13  2013    01  04
4           1     1     10  2013    01  05
...       ...   ...    ...   ...   ...  ..
912995     10    50     63  2017    12  27
912996     10    50     59  2017    12  28
912997     10    50     74  2017    12  29
912998     10    50     62  2017    12  30
912999     10    50     82  2017    12  31

[913000 rows x 6 columns]

In [32]:
y = df.iloc[:,2].values
df = df.drop(columns='sales')
X = df.iloc[:,:].values

In [33]:
X

array([[1, 1, '2013', '01', '01'],
       [1, 1, '2013', '01', '02'],
       [1, 1, '2013', '01', '03'],
       ...,
       [10, 50, '2017', '12', '29'],
       [10, 50, '2017', '12', '30'],
       [10, 50, '2017', '12', '31']], dtype=object)

In [34]:
y

array([13, 11, 14, ..., 74, 62, 82])

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.2,random_state=42)

## Building the model