In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Homogenoeus/Temporal_Data/Unit/Factory Issue.csv')
df

,Date,SOS008L02P,SOS005L04P,SOS003L04P,SOS002L09P,SOS001L12P,SOS500M24P,SOS250M48P,SOP001L12P,POV005L04P,...,MAHS025K,SE500G24P,SE200G24P,ATPPCH5X5K,ATPA1K24P,MAPA1K24P,MAP1K25P,MAC1K25P,EEA500G12P,EEA200G24P
0,2023-01-01 00:00:00,220.0,2598.0,287.0,2080.0,2748.0,1670.634,0.0,10.0,100.0,...,43,1341.0,200,0,0,0,0,0,0,0
1,2023-01-02 00:00:00,485.0,4982.0,1048.0,4640.0,7560.0,3676.000,0.0,60.0,88.0,...,0,427.0,46,0,0,0,0,0,0,0
2,2023-01-03 00:00:00,520.0,11175.0,719.0,10801.0,12661.0,6334.500,0.0,0.0,195.0,...,5,435.0,0,0,0,0,0,0,0,0
3,2023-01-04 00:00:00,305.0,8286.0,1016.0,9004.0,12087.0,5525.000,0.0,297.0,160.0,...,0,300.0,1,0,0,0,0,0,0,0
4,2023-01-05 00:00:00,320.0,9787.0,1120.0,8875.0,12414.0,4576.000,0.0,0.0,195.0,...,0,645.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,2023-08-05 00:00:00,125.0,589.0,263.0,1391.0,2925.0,1709.000,495.0,0.0,215.0,...,0,650.0,85,0,0,0,0,0,0,0
217,2023-08-06 00:00:00,460.0,4229.0,310.0,1255.0,2895.0,1735.000,210.0,0.0,305.0,...,0,0.0,0,0,0,0,0,0,0,0
218,2023-08-07 00:00:00,35.0,3030.0,265.0,1825.0,3962.0,1675.000,440.0,0.0,255.0,...,535,852.0,40,0,0,0,0,0,0,0
219,2023-08-08 00:00:00,10.0,1240.0,140.0,768.0,1521.0,445.000,100.0,0.0,50.0,...,0,50.0,0,0,0,0,0,0,0,0
220,2023-08-09 00:00:00,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,0

In [3]:
df.columns

Index(['Date', 'SOS008L02P', 'SOS005L04P', 'SOS003L04P', 'SOS002L09P',
       'SOS001L12P', 'SOS500M24P', 'SOS250M48P', 'SOP001L12P', 'POV005L04P',
       'POV002L09P', 'POV001L24P', 'POV500M24P', 'POP001L12P', 'POP015K',
       'SO0005L04P', 'SO0002L09P', 'SO0001L12P', 'SO0500M24P', 'POP005L04P',
       'POP002L09P', 'POP001L12P.1', 'POP500M24P', 'POPF01L12P', 'AT5X5K',
       'ATN02K12P', 'ATN01K24P', 'MAR02K12P', 'MAR01K24P', 'ATWWP002K12P',
       'ATWWP001K24P', 'MASR025K', 'MAHS025K', 'SE500G24P', 'SE200G24P',
       'ATPPCH5X5K', 'ATPA1K24P', 'MAPA1K24P', 'MAP1K25P', 'MAC1K25P',
       'EEA500G12P', 'EEA200G24P'],
      dtype='object')