In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Homogenoeus/Temporal_Data/Unit/Factory Issue.csv')
df

,Date,SOS008L02P,SOS005L04P,SOS003L04P,SOS002L09P,SOS001L12P,SOS500M24P,SOS250M48P,SOP001L12P,POV005L04P,...,MAHS025K,SE500G24P,SE200G24P,ATPPCH5X5K,ATPA1K24P,MAPA1K24P,MAP1K25P,MAC1K25P,EEA500G12P,EEA200G24P
0,2023-01-01 00:00:00,220.0,2598.0,287.0,2080.0,2748.0,1670.634,0.0,10.0,100.0,...,43,1341.0,200,0,0,0,0,0,0,0
1,2023-01-02 00:00:00,485.0,4982.0,1048.0,4640.0,7560.0,3676.000,0.0,60.0,88.0,...,0,427.0,46,0,0,0,0,0,0,0
2,2023-01-03 00:00:00,520.0,11175.0,719.0,10801.0,12661.0,6334.500,0.0,0.0,195.0,...,5,435.0,0,0,0,0,0,0,0,0
3,2023-01-04 00:00:00,305.0,8286.0,1016.0,9004.0,12087.0,5525.000,0.0,297.0,160.0,...,0,300.0,1,0,0,0,0,0,0,0
4,2023-01-05 00:00:00,320.0,9787.0,1120.0,8875.0,12414.0,4576.000,0.0,0.0,195.0,...,0,645.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,2023-08-05 00:00:00,125.0,589.0,263.0,1391.0,2925.0,1709.000,495.0,0.0,215.0,...,0,650.0,85,0,0,0,0,0,0,0
217,2023-08-06 00:00:00,460.0,4229.0,310.0,1255.0,2895.0,1735.000,210.0,0.0,305.0,...,0,0.0,0,0,0,0,0,0,0,0
218,2023-08-07 00:00:00,35.0,3030.0,265.0,1825.0,3962.0,1675.000,440.0,0.0,255.0,...,535,852.0,40,0,0,0,0,0,0,0
219,2023-08-08 00:00:00,10.0,1240.0,140.0,768.0,1521.0,445.000,100.0,0.0,50.0,...,0,50.0,0,0,0,0,0,0,0,0
220,2023-08-09 00:00:00,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,0

In [6]:
df.columns

Index(['FIELDS', 'DESCRIPTION'], dtype='object')

In [5]:
df = pd.read_csv('../Homogenoeus/Nodes/Nodes.csv')
df

            Node
0     SOS008L02P
1     SOS005L04P
2     SOS003L04P
3     SOS002L09P
4     SOS001L12P
5     SOS500M24P
6     SOS250M48P
7     SOP001L12P
8     POV005L04P
9     POV002L09P
10    POV001L24P
11    POV500M24P
12    POP001L12P
13       POP015K
14    SO0005L04P
15    SO0002L09P
16    SO0001L12P
17    SO0500M24P
18    POP005L04P
19    POP002L09P
20    POP001L12P
21    POP500M24P
22    POPF01L12P
23        AT5X5K
24     ATN02K12P
25     ATN01K24P
26     MAR02K12P
27     MAR01K24P
28  ATWWP002K12P
29  ATWWP001K24P
30      MASR025K
31      MAHS025K
32     SE500G24P
33     SE200G24P
34    ATPPCH5X5K
35     ATPA1K24P
36     MAPA1K24P
37      MAP1K25P
38      MAC1K25P
39    EEA500G12P
40    EEA200G24P

In [6]:
df.columns

Index(['Node'], dtype='object')

In [7]:
df.nunique()

Node    40
dtype: int64

In [8]:
duplicates = df[df.duplicated()]

print(duplicates)

          Node
20  POP001L12P

In [9]:
df = pd.read_csv("../Homogenoeus/Nodes/NodesIndex.csv")
df

            Node  NodeIndex
0     SOS008L02P          0
1     SOS005L04P          1
2     SOS003L04P          2
3     SOS002L09P          3
4     SOS001L12P          4
5     SOS500M24P          5
6     SOS250M48P          6
7     SOP001L12P          7
8     POV005L04P          8
9     POV002L09P          9
10    POV001L24P         10
11    POV500M24P         11
12    POP001L12P         12
13       POP015K         13
14    SO0005L04P         14
15    SO0002L09P         15
16    SO0001L12P         16
17    SO0500M24P         17
18    POP005L04P         18
19    POP002L09P         19
20    POP001L12P         12
21    POP500M24P         20
22    POPF01L12P         21
23        AT5X5K         22
24     ATN02K12P         23
25     ATN01K24P         24
26     MAR02K12P         25
27     MAR01K24P         26
28  ATWWP002K12P         27
29  ATWWP001K24P         28
30      MASR025K         29
31      MAHS025K         30
32     SE500G24P         31
33     SE200G24P         32
34    ATPPCH5X5K         33
35     ATPA1K24P         34
36     MAPA1K24P         35
37      MAP1K25P         36
38      MAC1K25P         37
39    EEA500G12P         38
40    EEA200G24P         39

In [10]:
df = pd.read_csv("../Homogenoeus/Edges/EdgesIndex/Edges (Plant).csv")
df

      Plant  node1  node2
0      1901     28     24
1      1903     22     24
2      1903     22     26
3      1903     22     31
4      1903     22     29
...     ...    ...    ...
1642   2122     20     19
1643   2122     20     12
1644   2122      0     19
1645   2122      0     12
1646   2122     19     12

[1647 rows x 3 columns]

In [3]:
df = pd.read_csv("../data/Kaggle_Training_Dataset_v2.csv")
df.columns

/Users/surya/anaconda3/envs/Tf-metal/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3526: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['sku', 'national_inv', 'lead_time', 'in_transit_qty',
       'forecast_3_month', 'forecast_6_month', 'forecast_9_month',
       'sales_1_month', 'sales_3_month', 'sales_6_month', 'sales_9_month',
       'min_bank', 'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

In [4]:
df

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687856,1373987,-1.0,NaN,0.0,5.0,7.0,9.0,1.0,3.0,3.0,...,0.0,-99.00,-99.00,1.0,No,No,No,Yes,No,No
1687857,1524346,-1.0,9.0,0.0,7.0,9.0,11.0,0.0,8.0,11.0,...,0.0,0.86,0.84,1.0,Yes,No,No,No,No,Yes
1687858,1439563,62.0,9.0,16.0,39.0,87.0,126.0,35.0,63.0,153.0,...,0.0,0.86,0.84,6.0,No,No,No,Yes,No,No
1687859,1502009,19.0,4.0,0.0,0.0,0.0,0.0,2.0,7.0,12.0,...,0.0,0.73,0.78,1.0,No,No,No,Yes,No,No
1687860,(1687860 rows),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = pd.read_csv("../8gx2fvg2k6-2/DescriptionDataCoSupplyChain.csv")
df

,FIELDS,DESCRIPTION
0,Type,: Type of transaction made
1,Days for shipping (real),: Actual shipping days of the purchased product
2,Days for shipment (scheduled),: Days of scheduled delivery of the purchased...
3,Benefit per order,: Earnings per order placed
4,Sales per customer,: Total sales per customer made per customer
5,Delivery Status,: Delivery status of orders: Advance shipping...
6,Late_delivery_risk,: Categorical variable that indicates if send...
7,Category Id,: Product category code
8,Category Name,: Description of the product category
9,Customer City,: City where the customer made the purchase
10,Customer Country,: Country where the customer made the purchase
11,Customer Email,: Customer's email
12,Customer Fname,: Customer name
13,Customer Id,: Customer ID
14,Customer Lname,: Customer lastname
15,Customer Password,: Masked customer key
16,Customer Segment,": Types of Customers: Consumer , Corporate , ..."
17,Customer State,: State to which the store where the purchase...
18,Customer Street,: Street to which the store where the purchas...
19,Customer Zipcode,: Customer Zipcode
20,Department Id,: Department code of store
21,Department Name,: Department name of store
22,Latitude,: Latitude corresponding to location of store
23,Longitude,: Longitude corresponding to location of store
24,Market,: Market to where the order is delivered : Af...
25,Order City,: Destination city of the order
26,Order Country,: Destination country of the order
27,Order Customer Id,: Customer order code
28,order date (DateOrders),: Date on which the order is made
29,Order Id,: Order code
30,Order Item Cardprod Id,: Product code generated through the RFID reader
31,Order Item Discount,: Order item discount value
32,Order Item Discount Rate,: Order item discount percentage
33,Order Item Id,: Order item code
34,Order Item Product Price,: Price of products without discount
35,Order Item Profit Ratio,: Order Item Profit Ratio
36,Order Item Quantity,: Number of products per order
37,Sales,: Value in sales
38,Order Item Total,: Total amount per order
39,Order Profit Per Order,: Order Profit Per Order
40,Order Region,: Region of the world where the order is deli...
41,Order State,: State of the region where the order is deli...
42,Order Status,": Order Status : COMPLETE , PENDING , CLOSED ..."
43,Product Card Id,: Product code
44,Product Category Id,: Product category code
45,Product Description,: Product Description
46,Product Image,: Link of visit and purchase of the product
47,Product Name,: Product Name
48,Product Price,: Product Price
49,Product Status,: Status of the product stock :If it is 1 not...
50,Shipping date (DateOrders),: Exact date and time of shipment
51,Shipping Mode,: The following shipping modes are presented ...

In [12]:
cf = pd.read_csv("../8gx2fvg2k6-2/DataCoSupplyChainDataset.csv",encoding= "latin1")
cf

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [13]:
cf.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')