In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Homogenoeus/Temporal_Data/Unit/Factory Issue.csv')
df

,Date,SOS008L02P,SOS005L04P,SOS003L04P,SOS002L09P,SOS001L12P,SOS500M24P,SOS250M48P,SOP001L12P,POV005L04P,...,MAHS025K,SE500G24P,SE200G24P,ATPPCH5X5K,ATPA1K24P,MAPA1K24P,MAP1K25P,MAC1K25P,EEA500G12P,EEA200G24P
0,2023-01-01 00:00:00,220.0,2598.0,287.0,2080.0,2748.0,1670.634,0.0,10.0,100.0,...,43,1341.0,200,0,0,0,0,0,0,0
1,2023-01-02 00:00:00,485.0,4982.0,1048.0,4640.0,7560.0,3676.000,0.0,60.0,88.0,...,0,427.0,46,0,0,0,0,0,0,0
2,2023-01-03 00:00:00,520.0,11175.0,719.0,10801.0,12661.0,6334.500,0.0,0.0,195.0,...,5,435.0,0,0,0,0,0,0,0,0
3,2023-01-04 00:00:00,305.0,8286.0,1016.0,9004.0,12087.0,5525.000,0.0,297.0,160.0,...,0,300.0,1,0,0,0,0,0,0,0
4,2023-01-05 00:00:00,320.0,9787.0,1120.0,8875.0,12414.0,4576.000,0.0,0.0,195.0,...,0,645.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,2023-08-05 00:00:00,125.0,589.0,263.0,1391.0,2925.0,1709.000,495.0,0.0,215.0,...,0,650.0,85,0,0,0,0,0,0,0
217,2023-08-06 00:00:00,460.0,4229.0,310.0,1255.0,2895.0,1735.000,210.0,0.0,305.0,...,0,0.0,0,0,0,0,0,0,0,0
218,2023-08-07 00:00:00,35.0,3030.0,265.0,1825.0,3962.0,1675.000,440.0,0.0,255.0,...,535,852.0,40,0,0,0,0,0,0,0
219,2023-08-08 00:00:00,10.0,1240.0,140.0,768.0,1521.0,445.000,100.0,0.0,50.0,...,0,50.0,0,0,0,0,0,0,0,0
220,2023-08-09 00:00:00,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,0

In [3]:
df.columns

Index(['Date', 'SOS008L02P', 'SOS005L04P', 'SOS003L04P', 'SOS002L09P',
       'SOS001L12P', 'SOS500M24P', 'SOS250M48P', 'SOP001L12P', 'POV005L04P',
       'POV002L09P', 'POV001L24P', 'POV500M24P', 'POP001L12P', 'POP015K',
       'SO0005L04P', 'SO0002L09P', 'SO0001L12P', 'SO0500M24P', 'POP005L04P',
       'POP002L09P', 'POP001L12P.1', 'POP500M24P', 'POPF01L12P', 'AT5X5K',
       'ATN02K12P', 'ATN01K24P', 'MAR02K12P', 'MAR01K24P', 'ATWWP002K12P',
       'ATWWP001K24P', 'MASR025K', 'MAHS025K', 'SE500G24P', 'SE200G24P',
       'ATPPCH5X5K', 'ATPA1K24P', 'MAPA1K24P', 'MAP1K25P', 'MAC1K25P',
       'EEA500G12P', 'EEA200G24P'],
      dtype='object')

In [5]:
df = pd.read_csv('../Homogenoeus/Nodes/Nodes.csv')
df

            Node
0     SOS008L02P
1     SOS005L04P
2     SOS003L04P
3     SOS002L09P
4     SOS001L12P
5     SOS500M24P
6     SOS250M48P
7     SOP001L12P
8     POV005L04P
9     POV002L09P
10    POV001L24P
11    POV500M24P
12    POP001L12P
13       POP015K
14    SO0005L04P
15    SO0002L09P
16    SO0001L12P
17    SO0500M24P
18    POP005L04P
19    POP002L09P
20    POP001L12P
21    POP500M24P
22    POPF01L12P
23        AT5X5K
24     ATN02K12P
25     ATN01K24P
26     MAR02K12P
27     MAR01K24P
28  ATWWP002K12P
29  ATWWP001K24P
30      MASR025K
31      MAHS025K
32     SE500G24P
33     SE200G24P
34    ATPPCH5X5K
35     ATPA1K24P
36     MAPA1K24P
37      MAP1K25P
38      MAC1K25P
39    EEA500G12P
40    EEA200G24P

In [6]:
df.columns

Index(['Node'], dtype='object')

In [7]:
df.nunique()

Node    40
dtype: int64

In [8]:
duplicates = df[df.duplicated()]

print(duplicates)

          Node
20  POP001L12P

In [9]:
df = pd.read_csv("../Homogenoeus/Nodes/NodesIndex.csv")
df

            Node  NodeIndex
0     SOS008L02P          0
1     SOS005L04P          1
2     SOS003L04P          2
3     SOS002L09P          3
4     SOS001L12P          4
5     SOS500M24P          5
6     SOS250M48P          6
7     SOP001L12P          7
8     POV005L04P          8
9     POV002L09P          9
10    POV001L24P         10
11    POV500M24P         11
12    POP001L12P         12
13       POP015K         13
14    SO0005L04P         14
15    SO0002L09P         15
16    SO0001L12P         16
17    SO0500M24P         17
18    POP005L04P         18
19    POP002L09P         19
20    POP001L12P         12
21    POP500M24P         20
22    POPF01L12P         21
23        AT5X5K         22
24     ATN02K12P         23
25     ATN01K24P         24
26     MAR02K12P         25
27     MAR01K24P         26
28  ATWWP002K12P         27
29  ATWWP001K24P         28
30      MASR025K         29
31      MAHS025K         30
32     SE500G24P         31
33     SE200G24P         32
34    ATPPCH5X5K         33
35     ATPA1K24P         34
36     MAPA1K24P         35
37      MAP1K25P         36
38      MAC1K25P         37
39    EEA500G12P         38
40    EEA200G24P         39

In [ ]:
df = pd.read_csv("../Homogenoeus/")