In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('data.csv',encoding='latin1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [5]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [15]:
df['sales'] = df['Quantity'] * df['UnitPrice']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [31]:
ef = df.groupby(['StockCode'])

In [35]:
ef.mean()

               Quantity  UnitPrice    CustomerID      sales
StockCode
10002         14.205479   1.056849  14772.285714  10.409452
10080         20.625000   0.376667  15857.809524   4.962083
10120          6.433333   0.210000  16162.633333   1.351000
10123C        -3.250000   0.487500  15567.000000   0.812500
10123G       -38.000000   0.000000           NaN   0.000000
...                 ...        ...           ...        ...
gift_0001_20   2.000000  15.038000           NaN  16.705000
gift_0001_30   4.625000  21.941250           NaN  21.941250
gift_0001_40   1.000000  33.566667           NaN  33.566667
gift_0001_50   1.000000  41.890000           NaN  41.890000
m              1.000000   2.550000           NaN   2.550000

[4070 rows x 4 columns]

In [30]:
ef

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,sales
StockCode,,,,,,,,
10002,536370,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,0.85,12583.0,France,40.80
10080,545060,GROOVY CACTUS INFLATABLE,2,2/27/2011 13:47,0.85,15547.0,United Kingdom,1.70
10120,536863,DOGGY RUBBER,1,12/3/2010 11:19,0.21,17967.0,United Kingdom,0.21
10123C,536863,HEARTS WRAPPING TAPE,1,12/3/2010 11:19,0.65,17967.0,United Kingdom,0.65
10123G,549349,None,-38,4/8/2011 11:13,0.00,NaN,United Kingdom,-0.00
...,...,...,...,...,...,...,...,...
gift_0001_20,540238,Dotcomgiftshop Gift Voucher Â£20.00,1,1/5/2011 14:44,17.02,NaN,United Kingdom,17.02
gift_0001_30,540238,Dotcomgiftshop Gift Voucher Â£30.00,1,1/5/2011 14:44,25.53,NaN,United Kingdom,25.53
gift_0001_40,539492,Dotcomgiftshop Gift Voucher Â£40.00,1,12/20/2010 10:14,34.04,NaN,United Kingdom,34.04
gift_0001_50,539958,Dotcomgiftshop Gift Voucher Â£50.00,1,12/23/2010 13:26,42.55,NaN,United Kingdom,42.55
m,539736,Manual,1,12/21/2010 15:18,2.55,NaN,United Kingdom,2.55

In [7]:
df[df['InvoiceNo'] == '536365']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom

In [14]:
df[df['StockCode'] == '85123A']['UnitPrice']

0         2.55
49        2.55
66        2.55
220       2.55
262       2.55
          ...
539342    5.79
539979    2.55
540217    2.95
540837    5.79
541639    2.95
Name: UnitPrice, Length: 2313, dtype: float64